.bg-pink {
    background-color: #f0dfe3 !important;
}


header {
    position: sticky;
    top: 0;
    z-index: 1000;
}


.nav-link {
    color: #ff69b4 !important;
}

.nav-link:hover {
    color: #ff1493 !important;
}


.btn-pink {
    background-color: #ff69b4 !important;
    border-color: #ff69b4 !important;
    color: white !important;
}


.btn-pink:hover {
    background-color: #ff1493 !important;
    border-color: #ff1493 !important;
}

.section-title {
    color: #4a4a4a;
    margin-top: 20px;
}

.video-title {
    color: #5a5a5a;
    font-weight: 500;
    margin-top: 20px;
}


.pink-box {
    background-color: #d6a1bb;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-title {
    color: #d98daa !important;
}

.custom-title {
    color: #d98daa !important;
}

.container {
    margin-bottom: 100px;
}

.custom-text {
    margin-top: 50px;
}

p.custom-text {
    color: #6c757d !important;
}

.card:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

