{% extends "base.html" %}

{% block title %}Медитации{% endblock %}

{% block content %}
    <div class="container text-center">

    <h3 class="section-title">Медитации и техники расслабления</h3>

    <div class="row my-4">
    <div class="col-md-6 d-flex">
        <div class="p-3 text-white rounded shadow-sm w-100 d-flex flex-column justify-content-between"
             style="background-color: #d6a1bb; min-height: 200px;">
            <h4>Польза медитации</h4>
            <ul class="text-start flex-grow-1">
                <li>Снижает уровень стресса и тревожности.</li>
                <li>Помогает сосредоточиться и улучшает концентрацию.</li>
                <li>Способствует лучшему самоконтролю и эмоциональному балансу.</li>
                <li>Улучшает качество сна и общее самочувствие.</li>
            </ul>
        </div>
    </div>
    <div class="col-md-6 d-flex">
        <div class="p-3 text-white rounded shadow-sm w-100 d-flex flex-column justify-content-between"
             style="background-color: #d6a1bb; min-height: 200px;">
            <h4>Советы для начинающих</h4>
            <ul class="text-start flex-grow-1">
                <li>Выбирайте тихое место без отвлекающих факторов.</li>
                <li>Начинайте с 5-10 минут в день, постепенно увеличивая время.</li>
                <li>Фокусируйтесь на дыхании или повторяйте мантру.</li>
                <li>Практикуйте медитацию регулярно, даже если немного.</li>
            </ul>
        </div>
    </div>
</div>

    <!-- Видео в два ряда -->
    <div class="row">
        <div class="col-md-6">
            <h6 class="video-title">Шавасана. Глубокое расслабление</h6>
            <iframe width="100%" height="315" src="https://www.youtube.com/embed/f6Bo-J9r94c" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="col-md-6">
            <h6 class="video-title">Медитация для осознанности</h6>
            <iframe width="100%" height="315" src="https://www.youtube.com/embed/Juo-8PtSaLI" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-6">
            <h6 class="video-title">Утренняя медитация</h6>
            <iframe width="100%" height="315" src="https://www.youtube.com/embed/6SE-HFqis4g" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="col-md-6">
            <h6 class="video-title">Медитация на ночь</h6>
            <iframe width="100%" height="315" src="https://www.youtube.com/embed/FZqtF0Nm4YE" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
</div>
{% endblock %}
