{% extends "base.html" %}

{% block title %}МФР{% endblock %}

{% block content %}
    <div class="container text-center">

    <h3 class="section-title">Миофасциальный релиз</h3>

    <!-- Блоки "Польза" и "Советы" -->
    <div class="row my-4">
    <div class="col-md-6 d-flex">
        <div class="p-3 text-white rounded shadow-sm w-100 d-flex flex-column justify-content-between"
             style="background-color: #d6a1bb; min-height: 200px;">
            <h4>Польза МФР</h4>
            <ul class="text-start flex-grow-1">
                <li>Помогает снять мышечное напряжение и усталость.</li>
                <li>Улучшает кровообращение и способствует восстановлению.</li>
                <li>Увеличивает подвижность суставов и эластичность мышц.</li>
                <li>Снижает риск травм и болевых ощущений после тренировок.</li>
            </ul>
        </div>
    </div>
    <div class="col-md-6 d-flex">
        <div class="p-3 text-white rounded shadow-sm w-100 d-flex flex-column justify-content-between"
             style="background-color: #d6a1bb; min-height: 200px;">
            <h4>Советы для начинающих</h4>
            <ul class="text-start flex-grow-1">
                <li>Начинайте с легкого давления, постепенно увеличивая интенсивность.</li>
                <li>Массируйте каждую зону не более 1–2 минут.</li>
                <li>Избегайте катания по костям и суставам.</li>
                <li>Практикуйте МФР регулярно для лучшего результата.</li>
            </ul>
        </div>
    </div>
</div>


    <!-- Видео в два ряда -->
    <div class="row">
        <div class="col-md-6">
            <h6 class="video-title">МФР на все тело</h6>
            <iframe width="100%" height="315" src="https://www.youtube.com/embed/Q9BoLLzFCPw?si=gwyBeSHACeggEsXE" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="col-md-6">
            <h6 class="video-title">МФР от отеков</h6>
            <iframe width="100%" height="315" src="https://www.youtube.com/embed/OOaX6WSyBtw?si=SJpHr2SQSX9LOIUe" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-6">
            <h6 class="video-title">МФР для мышц тазового дна и кора</h6>
            <iframe width="100%" height="315" src="https://www.youtube.com/embed/ifRUNIlZS7E?si=lpDW19VK7dNsBGPZ" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="col-md-6">
            <h6 class="video-title">Утренняя зарядка с МФР-роллом</h6>
            <iframe width="100%" height="315" src="https://www.youtube.com/embed/rpuTFlfqQyg?si=Mut9pSPK8xmLBSaJ" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
</div>
{% endblock %}
