{% extends "base.html" %}

{% block title %}Силовые тренировки{% endblock %}

{% block content %}
    <div class="container text-center">

    <h3 class="section-title">Силовые тренировки</h3>

    <!-- Блоки "Польза" и "Советы" -->
    <div class="row my-4">
    <div class="col-md-6 d-flex">
        <div class="p-3 text-white rounded shadow-sm w-100 d-flex flex-column justify-content-between"
             style="background-color: #d6a1bb; min-height: 200px;">
            <h4>Польза силовых тренировок</h4>
            <ul class="text-start flex-grow-1">
                <li>Укрепляют мышцы и улучшают выносливость.</li>
                <li>Повышают обмен веществ и способствуют сжиганию жира.</li>
                <li>Укрепляют кости и суставы, снижая риск травм.</li>
                <li>Способствуют улучшению осанки и координации движений.</li>
            </ul>
        </div>
    </div>
    <div class="col-md-6 d-flex">
        <div class="p-3 text-white rounded shadow-sm w-100 d-flex flex-column justify-content-between"
             style="background-color: #d6a1bb; min-height: 200px;">
            <h4>Советы для начинающих</h4>
            <ul class="text-start flex-grow-1">
                <li>Начинайте с небольшого веса, постепенно увеличивая нагрузку.</li>
                <li>Следите за правильной техникой выполнения упражнений.</li>
                <li>Не забывайте про разминку перед тренировкой и заминку после.</li>
                <li>Тренируйтесь регулярно, но не забывайте про отдых.</li>
            </ul>
        </div>
    </div>
</div>



    <!-- Видео в два ряда -->
    <div class="row">
        <div class="col-md-6">
            <h6 class="video-title">Тренировка на все тело</h6>
            <iframe width="100%" height="315" src="https://www.youtube.com/embed/GQTc-PHLgdA?si=MXzQiK6tjDChr-AK" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="col-md-6">
            <h6 class="video-title">Тренировка на ягодицы</h6>
            <iframe width="100%" height="315" src="https://www.youtube.com/embed/Mf3P89OFgZo?si=ineobjHIDr1NnaId" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-6">
            <h6 class="video-title">Тренировка на пресс</h6>
            <iframe width="100%" height="315" src="https://www.youtube.com/embed/sMdFxUm9E9k?si=bmgQ-Pt1Ul_8-Dsg" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="col-md-6">
            <h6 class="video-title">Тренировка на спину и руки</h6>
            <iframe width="100%" height="315" src="https://www.youtube.com/embed/WoVvzypfM0w?si=1dvE-oPoKlRw8Z2Q" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
</div>
{% endblock %}
