{% extends "base.html" %}

{% block title %}Растяжка{% endblock %}

{% block content %}
    <div class="container text-center">

    <h3 class="section-title">Комплексы упражнений на растяжку</h3>

    <!-- Блоки "Польза растяжки" и "Советы для начинающих" -->
    <div class="row my-4">
        <div class="col-md-6 d-flex">
            <div class="p-3 text-white rounded shadow-sm w-100 d-flex flex-column justify-content-between"
                 style="background-color: #d6a1bb; min-height: 200px;">
                <h4>Польза растяжки</h4>
                <ul class="text-start flex-grow-1">
                    <li>Улучшает гибкость и подвижность суставов.</li>
                    <li>Снижает риск травм при физических нагрузках.</li>
                    <li>Улучшает кровообращение и снимает напряжение.</li>
                    <li>Способствует лучшей осанке.</li>
                </ul>
            </div>
        </div>
        <div class="col-md-6 d-flex">
            <div class="p-3 text-white rounded shadow-sm w-100 d-flex flex-column justify-content-between"
                 style="background-color: #d6a1bb; min-height: 200px;">
                <h4>Советы для начинающих</h4>
                <ul class="text-start flex-grow-1">
                    <li>Разогревайтесь перед растяжкой, чтобы избежать травм.</li>
                    <li>Дышите ровно и глубоко во время упражнений.</li>
                    <li>Не тянитесь через боль – делайте всё постепенно.</li>
                    <li>Практикуйте регулярно для устойчивого прогресса.</li>
                </ul>
            </div>
        </div>
    </div>

    <!-- Видео в два ряда -->
    <div class="row">
        <div class="col-md-6">
            <h6 class="video-title">Тренировка на поперечный шпагат</h6>
            <iframe width="100%" height="315" src="https://www.youtube.com/embed/TldP3Rsyvfw?si=zatC0tSZgHHBHKQI" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="col-md-6">
            <h6 class="video-title">Тренировка на продольный шпагат</h6>
            <iframe width="100%" height="315" src="https://www.youtube.com/embed/9Re4tWGKVq8?si=QuPhVLtexxjEbJtT" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-6">
            <h6 class="video-title">Тренировка для гибкой спины и здоровой осанки</h6>
            <iframe width="100%" height="315" src="https://www.youtube.com/embed/TB9ZcsGx76c?si=unbkc6fxAeSSXrEu" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="col-md-6">
            <h6 class="video-title">Тренировка всего тела</h6>
            <iframe width="100%" height="315" src="https://www.youtube.com/embed/SafjxI2v-mQ?si=Ti4iPxUIZqSk_Ldf" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
</div>


{% endblock %}
